<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TL_and_Alarm_Creator.Properties.Settings.ConnectionString" connectionString="Dsn=Delta Network;uid=delta;pwd=login" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
